/* CSS goes here */
body {
    margin: 0;
    padding: 0;
    background-color: #FDB;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zdog-canvas {
    background: #FDB; /*#843b62;*/
}